<%- include("partials/header") %>
	
	<div class="container">

		<header class="myHeader">
			<h2><strong>Fill the form below to <br> book your trip!</strong></h2>
		</header>

		<div class="row">
			<div class="col-4">
				<div class="myform">
					<div class="imgs">
						<strong><a class="imgTitle" href="#">Place A</a></strong>
						<img onClick="reply_click(this)" class="img myImg" alt="Place A" src="imgs/daniel-plan-OE7jKpsk7uU-unsplash.jpg">
					</div>
					<div class="imgs">
						<strong><a class="imgTitle" href="#">Place B</a></strong>
						<img onClick="reply_click(this)" class="img myImg" alt="Place B" src="imgs/ishan-seefromthesky-YyCIztYO3O0-unsplash.jpg">
					</div>
					<div class="imgs">
						<strong><a class="imgTitle" href="#">Place C</a></strong>
						<img onClick="reply_click(this)" class="img myImg" alt="Place C" src="imgs/louis-hansel-shotsoflouis-wgsJ52gCXuw-unsplash.jpg">
					</div>
					<div  class="imgs">
						<strong><a class="imgTitle" href="#">Place D</a></strong>
						<img onClick="reply_click(this)" class="img myImg" alt="Place E" src="imgs/obi-onyeador-gUW8waI74AQ-unsplash.jpg">
					</div>

					<!-- The Modal -->
					<div id="myModal" class="modal">

					  <!-- The Close Button -->
					  <span class="close">&times;</span>

					  <!-- Modal Content (The Image) -->
					  <img class="modal-content" id="img01">

					  <!-- Modal Caption (Image Text) -->
					  <div id="caption"></div>
					</div>

				</div>
			</div>
			<div class="col-4">
				<div class="myform">
					<form action="/success" method="POST">
							<div class="form-group">
								<input class="form-control" type="text" name="name" placeholder="Name" required>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="phone" id="phone" placeholder="Phone" required>
							</div>
							<div class="form-group">
								<input class="form-control" type="date" name="dateFrom" id="dateFrom" placeholder="Check-in" required>
							</div>
							<div class="form-group">
								<input class="form-control" type="date" name="dateTo" id="dateTo" placeholder="Check-out" required>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="origin" placeholder="Origin" required>
							</div>
							<div class="form-group">
								<input class="form-control" type="text" name="destination" placeholder="Destination" required>
							</div>
							<div class="form-group">
								<input class="form-control" type="number" name="people" placeholder="Number of travelers" required min="1">
							</div>
							<button class="btn btn-primary btn-block">Submit</button>
					</form>
				</div>
			</div>

			<div class="col-4">
				<div class="myform">
					<h2>About Travel A</h2>
					<p>On projection apartments unsatiable so if he entreaties appearance. Rose you wife how set lady half wish. Hard sing an in true felt. Welcomed stronger if steepest ecstatic an suitable finished of oh. Entered at excited at forming between so produce. Chicken unknown besides attacks compact out you. Continuing no simplicity no favourable on reasonably melancholy estimating. Own hence views two ask right whole ten seems. What near kept met call old west dine. Our announcing sufficient why pianoforte. On projection apartments unsatiable so if he entreaties appearance. Rose you wife how set lady half wish. Hard sing an in true felt. Welcomed stronger if steepest ecstatic an suitable finished of oh. Entered at excited at forming between so produce. Chicken unknown besides attacks gay compact out you. Continuing no simplicity no favourable on reasonably melancholy estimating. Own hence views two ask right whole ten seems. What near kept met call old west dine. Our announcing sufficient why pianoforte.</p>
				</div>
				
			</div>

		</div>
	</div>

<%- include("partials/footer") %>